<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>mini-mal</title>
</head>

<body>
    <div class="ruler-top"></div>
    <div class="container">
        <header>
            <div class="logo-wrapper">
                <h1>mini-mal</h1>
            </div>
            <p class="tagline">make your url mini</p>
        </header>
        
        <form action="/shortUrls" method="POST" class="url-form">
            <div class="input-group">
                <div class="ruler-input-left"></div>
                <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" />
                <button type="submit">Shorten</button>
                <div class="ruler-input-right"></div>
            </div>
        </form>

        <% if (shortUrls && shortUrls.length > 0) { %>
        <div class="table-container">
            <div class="ruler-table-top"></div>
            <table class="urls-table">
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach(shortUrl => { %>
                        <tr>
                            <td>
                                <a href="<%= shortUrl.full %>" target="_blank" class="url-link">
                                    <%= shortUrl.full %>
                                </a>
                            </td>
                            <td>
                                <a href="/<%= shortUrl.short %>" target="_blank" class="url-link short-link">
                                    <%= baseUrl %>/<%= shortUrl.short %>
                                </a>
                            </td>
                            <td class="clicks-cell">
                                <%= shortUrl.clicks %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="ruler-table-bottom"></div>
        </div>
        <% } %>
    </div>
    <div class="ruler-bottom"></div>
</body>

</html>